nav {
    background-color: rgb(105, 94, 211);
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align:right;
        align-items: right;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}
 a:hover {
    text-decoration: underline;
    color: white; 
}

.navbar-brand {
    font-size: 35px;
    padding: 18px;
}

.nav-item {
    font-size: 25px;
    padding: 20px; 
}

.navbar-nav {
    padding: 5px;
    margin: 20px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.nav-item Link {
    align-items: right;
    justify-content: space-between;
}